.event-teaser-calendar-block {
    .category-filter {
        padding: 0 24px;
    }

    .event-calendar-card-row {
        margin-left: calc(-50vw + 50%);
        width: 100vw;

        .event-calendar-row {
            margin-bottom: 64px;

            &:last-child {
                margin-bottom: 0;
            }

            .calendar-month {
                padding: 0 30px;

                @media(max-width: 767px) {
                    padding: 0 24px;
                }
            }
        }
    }
}

.event-calendar-ctn {
    .calendar-day-name-row {
        border-top: 2px solid var(--gb_base_brown);
        display: grid;
        gap: 0;
        grid-template-columns: repeat(7, 1fr);

        .calendar-day-name {
            border-right: 2px solid var(--gb_base_brown);
            display: flex;
            padding: 12px 20px;

            span {
                @extend .ui-16-15-bold-uc;
            }
        }
    }

    .calendar-days-row {
        background: var(--gb_base_cream);
        border-top: 2px solid var(--gb_base_brown);
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        .calendar-column {
            border-bottom: 2px solid var(--gb_base_brown);
            border-right: 2px solid var(--gb_base_brown);
            flex: 0 0 calc(100% / 7);
            min-height: 125px;
            padding: 12px 0 12px 0;
            width: calc(100% / 7);

            .calendar-date {
                margin-bottom: 13px;
                padding: 0 20px;

                @extend .ui-16-15-bold-uc;
            }

            .calendar-event {
                border-bottom: 2px solid var(--gb_base_brown);
                border-top: 2px solid var(--gb_base_brown);
                box-sizing: border-box;
                cursor: pointer;
                height: 25px;
                margin: 0 0px 4px -2px;
                overflow: hidden;
                position: relative;
                white-space: nowrap;
                width: auto;

                &:last-child {
                    margin-bottom: 0;
                }

                &:has(.event-marquee) {
                    margin-left: 0;
                }

                .event-marquee {
                    display: flex;
                    height: 100%;

                    img {
                        border-right: 2px solid var(--gb_base_brown);
                        height: 100%;
                        object-fit: cover;
                        width: 43px;
                    }

                    marquee,
                    .event-title-box {
                        flex: 1 0 0;
                        overflow: hidden;
                        padding: 4px 8px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        z-index: 1;

                        @extend .ui-14-13-bold;
                    }
                }
            }

            .more-btn {
                margin-top: 16px;
                padding: 0 20px;
                text-decoration: none;

                @extend .ui-16-15-bold-uc;
            }

            &.col-has-event {
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background: var(--gb_primary_lilac);
                }
            }
        }
    }
}

.calendar-day-name {
    span.mobile-show {
        display: none;
    }
}