.image-category-card {
    .image-cat-group {
        display: flex;
        flex-wrap: wrap;

        .category-image {
            position: relative;
            display: flex;
            height: 181px;
            overflow: hidden;
            width: 100%;
            border-bottom: 2px solid var(--gb_base_brown);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .tag-label {
                position: absolute;
                left: 30px;
                bottom: 20px;
            }
        }

        .post-content {
            padding: 0 30px;
        }
    }
}