.details-block {
    max-width: 740px;
    margin: 0 auto;
}

.single-audio-video-embed {
    iframe {
        width: 100%;
    }
}

.single-post,
.single-news {
    .page-section {
        .wp-block-list {
            margin-bottom: 24px;
        }
    }
}