.custom-cursor {
    visibility: visible;
}

.gallery-block:hover .custom-cursor {
    opacity: 1;
}

.custom-cursor.dragging {
    transform: translate(-50%, -50%);
}

.custom-cursor.mobile-hidden {
    @media(max-width: 991px) {
        display: none;
    }
}

.image-gallery-block {
    -webkit-user-select: none;
    cursor: pointer;

    .gallery-close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
    }

    .gallery-expand-btn {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        transition: inherit;
        opacity: 0;
        pointer-events: auto;
    }

    &.expanded {
        .gallery-close-btn {
            opacity: 1;
            visibility: visible;
        }
    }

}

.gallery-block {
    cursor: pointer;
    display: flex;
    height: 690px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    transition: height 0.4s ease;

    @media(max-width: 640px) {
        height: 732px;
    }

    .bg-lines {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media(max-width: 640px) {
                object-position: left;
            }
        }
    }

    .block-heading {
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translate(0, -50%);
    }

    .cursor-static {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        top: 50%;
        transform: translate(0, -50%);
        display: none;
        max-width: 157px;
        margin: 87px auto 0;

        @media(max-width: 991px) {
            display: block;
        }
    }

    .gallery-grid {
        display: flex;
        position: relative;
        transition: transform 0.4s ease-out;
        width: 100%;
        will-change: transform;
        z-index: 2;
        flex-wrap: wrap;
        background-image: url(../images/bg-lines-block.png);
        background-repeat: repeat;

        @media(max-width: 480px) {
            background-image: url(../images/bg-lines-block-md.png);
            background-size: cover;
        }

        .gallery-image {
            display: flex;
            position: relative;
            width: 100%;
            //max-width: clamp(860px, calc(53.75rem + ((1vw - 9.92px) * 162.0112)), 1440px);
            margin: 0 auto;

            .card-img {
                // aspect-ratio: 360 / 460;
                aspect-ratio: 398.68/402.00;
                border-radius: 12px;
                // height: 460px;
                height: 402px;
                // max-width: 360px;
                max-width: 398.68px;
                position: absolute;
                // position: relative;
                transform: rotate(0);
                transform-origin: center;
                transition: all 1s ease-in-out;


                &:nth-child(8n+1) {
                    height: clamp(152px, calc(9.5rem + ((1vw - 7.68px) * 29.2096)), 322px);
                    transform: translate3d(0, 0, 0);
                    width: clamp(152px, calc(9.5rem + ((1vw - 7.68px) * 29.2096)), 322px);
                }

                &:nth-child(8n+2) {
                    height: clamp(189px, calc(11.8125rem + ((1vw - 7.68px) * 19.244)), 301px);
                    transform: translate3d(0px, clamp(0px, calc(3.0625rem + ((1vw - 7.68px) * -8.4192)), 49px), 0);
                    width: clamp(152px, calc(9.5rem + ((1vw - 7.68px) * 15.4639)), 242px);
                    right: clamp(0px, calc(0rem + ((1vw - 7.68px) * 40.8935)), 238px);
                }

                &:nth-child(8n+3) {
                    height: clamp(76px, calc(4.75rem + ((1vw - 7.68px) * 28.1787)), 240px);
                    transform: translate3d(0, clamp(374px, calc(27.25rem + ((1vw - 7.68px) * -10.6529)), 436px), 0);
                    width: clamp(76px, calc(4.75rem + ((1vw - 7.68px) * 28.1787)), 240px);
                    right: 0;
                }

                &:nth-child(8n+4) {
                    height: clamp(152px, calc(9.5rem + ((1vw - 7.68px) * 29.7251)), 325px);
                    transform: translate3d(clamp(74px, calc(4.625rem + ((1vw - 7.68px) * 28.1787)), 238px), clamp(498px, calc(31.25rem + ((1vw - 7.68px) * -0.3436)), 500px), 0);
                    width: clamp(152px, calc(9.5rem + ((1vw - 7.68px) * 29.7251)), 325px);
                }

                &:nth-child(8n+5) {
                    height: clamp(188px, calc(11.75rem + ((1vw - 7.68px) * 36.4261)), 400px);
                    transform: translate3d(0px, clamp(641px, calc(43.875rem + ((1vw - 7.68px) * -10.4811)), 702px), 0);
                    width: clamp(150px, calc(9.375rem + ((1vw - 7.68px) * 29.2096)), 320px);
                    right: clamp(0px, calc(0rem + ((1vw - 7.68px) * 54.9828)), 320px);
                }

                &:nth-child(8n+6) {
                    height: clamp(139px, calc(8.6875rem + ((1vw - 7.68px) * 26.9759)), 296px);
                    transform: translate3d(clamp(0px, calc(0rem + ((1vw - 7.68px) * 13.7457)), 80px), clamp(840px, calc(52.5rem + ((1vw - 7.68px) * 27.1478)), 998px), 0);
                    width: clamp(150px, calc(9.375rem + ((1vw - 7.68px) * 29.2096)), 320px);
                }

                &:nth-child(8n+7) {
                    height: clamp(123px, calc(7.6875rem + ((1vw - 7.68px) * 23.7113)), 261px);
                    transform: translate3d(0px, clamp(1047px, calc(65.4375rem + ((1vw - 7.68px) * 24.055)), 1187px), 0);
                    width: clamp(151px, calc(9.4375rem + ((1vw - 7.68px) * 29.0378)), 320px);
                    right: clamp(80px, calc(9.375rem + ((1vw - 7.68px) * -12.0275)), 150px);
                }

                &:nth-child(8n+8) {
                    height: clamp(189px, calc(11.8125rem + ((1vw - 7.68px) * 36.4261)), 401px);
                    transform: translate3d(clamp(225px, calc(14.0625rem + ((1vw - 7.68px) * 58.0756)), 563px), clamp(1238px, calc(77.375rem + ((1vw - 7.68px) * 9.622)), 1294px), 0);
                    width: clamp(152px, calc(9.5rem + ((1vw - 7.68px) * 29.2096)), 322px);
                }

                img {
                    pointer-events: none;
                    user-select: none;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

section .wrapper:has(.image-gallery-block) {
    position: relative;
}

.gallery-expand-btn {
    background-color: var(--gb_primary_sunflower_yellow);
    border-radius: 100px;
    border: none;
    box-shadow: none;
    padding: 16px 32px;
    height: auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 725;
    line-height: 110%;
    letter-spacing: -0.45px;
    text-transform: uppercase;
    color: var(--gb_base_brown);
    margin: 0;

    &:hover {
        background-color: var(--gb_primary_sunflower_yellow);
        color: var(--gb_base_brown);
    }
}

.gallery-close-btn {
    width: 39px;
    height: 39px;
    border-radius: 100%;
    background-color: var(--gb_primary_sunflower_yellow);
    border: none;
    box-shadow: none;
    margin: 0;
    color: var(--gb_base_brown);
    font-size: 21px;
    padding: 0;
    font-weight: 500;

    &:hover {
        background-color: var(--gb_primary_sunflower_yellow);
        color: var(--gb_base_brown);
    }
}