.heading-max {
    max-width: 880px;

    &.max-800 {
        max-width: 800px;
    }
}

.icon-grid-row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 64px;

    .icon-grid-col {
        grid-column: span 6;
        padding-right: 52px;

        .icon-grid-image {
            display: flex;

            img {
                height: 72px;
                object-fit: contain;
                width: 72px;
            }
        }
    }
}

.logo-grid-row {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    position: relative;
    row-gap: 36px;

    .logo-grid-col {
        grid-column: span 4;

        .logo-grid-wrap {
            display: flex;

            img {
                max-height: 102px;
                max-width: 194px;
            }
        }
    }
}

.logo-grid-links-row {
    display: grid;
    gap: 44px;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    .logo-grid-link-col {
        grid-column: span 4;

        .logo-grid-link {
            border-top: 1px solid var(--gb_base_brown);
            display: flex;
            flex-direction: column;
            padding: 24px 0 0;
            text-decoration: none;

            .logo-image {
                display: flex;

                img {
                    max-height: 102px;
                    max-width: 194px;
                }
            }

            .card-list {
                .card-item {
                    border: none;
                    padding: 0;
                }
            }

            &:hover {
                .card-list {
                    .card-item {
                        &.link-with-title {
                            &.with-arrow {
                                .dot-btn {
                                    &:before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.logos-w-text {
    .logos-w-text-row {
        .logos-w-text-col {
            border-left: 2px solid var(--gb_base_brown);
            max-width: 1120px;
            padding: 0 80px 0;

            .row-flex {
                display: flex;
                flex-wrap: wrap;
                gap: 80px;

                .logo-left {
                    flex: 160px 0 0;

                    img {
                        max-height: 160px;
                        max-width: 160px;
                    }
                }

                .cl-right {
                    flex: 1 0 0;
                    padding: 0 0 60px;

                    ul {
                        li {
                            margin: 0 0 20px;
                            padding: 0;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.logo-grid-filters {
    .logo-grid-filters-row {
        .filter {
            width: 100vw;
            margin-left: calc(-50vw + 50%);
        }
    }

    .fillter-bottom {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        overflow: hidden;

        .pagination-container {
            margin-left: -2px;
            margin-right: -2px;
        }
    }
}

.filter-logos-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 44px;
    column-gap: 80px;

    .filter-logos-col {
        .filter-logos-click {
            .brand-lists {
                align-items: center;
                display: flex;
                min-height: 102px;
            }

            .brand-logo {
                display: flex;

                img {
                    max-height: 102px;
                    max-width: 194px;
                }
            }

            .brand-name {
                .brand-group-name {
                    align-items: center;
                    background: var(--gb_primary_lilac);
                    border-radius: 50%;
                    display: flex;
                    height: 80px;
                    justify-content: center;
                    width: 80px;

                    @extend .ui-24-21-bold;
                }
            }
        }
    }
}