.heading-max {
    max-width: 880px;

    &.max-800 {
        max-width: 800px;
    }
}

.icon-grid-row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: clamp(44px, calc(2.75rem + ((1vw - 7.68px) * 3.4364)), 64px);

    .icon-grid-col {
        grid-column: span 6;
        padding-right: 52px;

        @media(max-width: 768px) {
            grid-column: span 12;
            padding-right: 0px;
        }

        .icon-grid-image {
            display: flex;

            img {
                height: clamp(64px, calc(4rem + ((1vw - 7.68px) * 1.3746)), 72px);
                object-fit: contain;
                width: clamp(64px, calc(4rem + ((1vw - 7.68px) * 1.3746)), 72px);
            }
        }

        .cta-links {
            .border-text-btn {
                @extend .body-20-18-regular;
            }
        }
    }
}

.logo-grid-row {
    display: grid;
    gap: clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    position: relative;
    row-gap: clamp(28px, calc(1.75rem + ((1vw - 7.68px) * 1.3746)), 36px);

    @media(max-width: 319px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-grid-col {
        grid-column: span 4;

        @media(max-width: 640px) {
            grid-column: span 6;
        }

        @media(max-width: 319px) {
            grid-column: span 12;
        }

        .logo-grid-wrap {
            display: flex;

            @media(max-width: 319px) {
                justify-content: center;
            }

            img {
                max-height: clamp(73px, calc(4.5625rem + ((1vw - 7.68px) * 4.9828)), 102px);
                max-width: clamp(139px, calc(8.6875rem + ((1vw - 7.68px) * 9.4502)), 194px);
            }
        }
    }
}

.logo-grid-links-row {
    display: grid;
    gap: 44px;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    @media(max-width: 767px) {
        row-gap: 32px;
        column-gap: 0;
    }

    .logo-grid-link-col {
        grid-column: span 4;

        @media(max-width: 991px) {
            grid-column: span 6;
        }

        @media(max-width: 767px) {
            grid-column: span 12;
        }

        .logo-grid-link {
            border-top: 1px solid var(--gb_base_brown);
            display: flex;
            flex-direction: column;
            padding: 24px 0 0;
            text-decoration: none;

            @media(max-width: 767px) {
                padding-top: 18px;
                padding-bottom: 18px;
            }

            .logo-image {
                display: flex;

                img {
                    max-height: 102px;
                    max-width: 194px;

                    @media(max-width: 640px) {
                        max-height: 84px;
                        max-width: 160px;
                    }
                }
            }

            .card-list {
                .card-item {
                    border: none;
                    padding: 0;

                    @media(max-width: 640px) {
                        gap: 20px;
                    }
                }
            }

            &:hover {
                .card-list {
                    .card-item {
                        &.link-with-title {
                            &.with-arrow {
                                .dot-btn {
                                    &:before {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.logos-w-text {
    .logos-w-text-row {
        .logos-w-text-col {
            border-left: 2px solid var(--gb_base_brown);
            max-width: 1120px;
            padding: 0 clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px) 0;

            .row-flex {
                display: flex;
                flex-wrap: wrap;
                gap: clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px);

                .logo-left {
                    flex: 160px 0 0;

                    img {
                        max-height: 160px;
                        max-width: 160px;
                    }
                }

                .cl-right {
                    flex: 1 0 0;
                    padding: 0 0 60px;

                    ul {
                        li {
                            margin: 0 0 20px;
                            padding: 0;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.logo-grid-filters {
    .logo-grid-filters-row {
        .filter {
            width: 100vw;
            margin-left: calc(-50vw + 50%);
        }
    }

    .fillter-bottom {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        overflow: hidden;

        .pagination-container {
            margin-left: -2px;
            margin-right: -2px;
        }
    }
}

.filter-logos-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 44px;
    column-gap: 80px;

    .filter-logos-col {
        .filter-logos-click {
            .brand-lists {
                align-items: center;
                display: flex;
                min-height: 102px;
            }

            .brand-logo {
                display: flex;

                img {
                    max-height: clamp(56px, calc(3.5rem + ((1vw - 7.68px) * 7.9038)), 102px);
                    max-width: clamp(106px, calc(6.625rem + ((1vw - 7.68px) * 15.1203)), 194px);
                }
            }

            .brand-name {
                .brand-group-name {
                    align-items: center;
                    background: var(--gb_primary_lilac);
                    border-radius: 50%;
                    display: flex;
                    height: clamp(56px, calc(3.5rem + ((1vw - 7.68px) * 4.1237)), 80px);
                    justify-content: center;
                    width: clamp(56px, calc(3.5rem + ((1vw - 7.68px) * 4.1237)), 80px);

                    @extend .ui-24-21-bold;
                }
            }
        }
    }
}