.announcement-toggle {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .announcement-left {
        flex: 129px 0 0;

        @media(max-width: 640px) {
            flex: 101px 0 0;
        }

        @media(max-width: 319px) {
            flex: 100% 0 0;
        }

        .announcement-image {
            height: 85px;
            overflow: hidden;
            position: relative;
            width: 100%;

            @media(max-width: 640px) {
                height: 67px;
            }

            .video-mask {
                background: var(--gb_base_cream);
                height: 100%;
                left: 0;
                mix-blend-mode: plus-lighter;
                opacity: 0.15;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .video-play {
                .videos {
                    left: 33%;
                    min-height: 100%;
                    min-width: 100%;
                    position: absolute;
                    top: 53%;
                    transform: translate(-50%, -50%);
                    width: 190%;
                }
            }
        }
    }

    .announcement-right {
        flex: 1 0 0;
        margin-left: 20px;

        @media(max-width: 640px) {
            margin-left: 16px;
        }

        @media(max-width: 319px) {
            flex: 100% 0 0;
            margin-left: 0;
            margin-top: 8px;
        }
    }
}

.image-alongside-text {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;

    .cl-left {
        flex: 560px 0 0;

        .pattern-image-group {
            border: 2px solid var(--gb_base_brown);
            display: flex;
            flex-wrap: wrap;

            .pattern-image {
                border-bottom: 2px solid var(--gb_base_brown);
                height: 101px;
                object-fit: cover;
                width: 100%;
            }

            .visual-image {
                height: 589px;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .cl-right {
        align-self: center;
        flex: 1 0 0;
    }

    &.block-rtl {
        .cl-left {
            order: 2;
        }
    }

    &.variation-pattern {
        gap: clamp(40px, calc(2.5rem + ((1vw - 9.92px) * 33.5196)), 160px);

        @media (max-width: 991px) {
            flex-wrap: wrap;
            gap: 0px;
        }

        .col-left {
            border-right: 2px solid var(--gb_base_brown);
            flex: clamp(280px, calc(17.5rem + ((1vw - 9.92px) * 55.8659)), 480px) 0 0;
            margin-left: calc(-50vw + 50%);
            overflow: hidden;
            width: clamp(280px, calc(17.5rem + ((1vw - 9.92px) * 55.8659)), 480px);

            @media (max-width: 991px) {
                width: 100vw;
                flex: 100vw 0 0;
                border-right: none;
                border-bottom: 2px solid var(--gb_base_brown);
            }

            img {
                border: none;
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;

                @media (max-width: 991px) {
                    height: clamp(147px, calc(9.1875rem + ((1vw - 3.75px) * 21.5909)), 280px);
                }
            }
        }

        .col-right {
            flex: 1 1 0;
        }
    }
}

.video-alongside-row {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;

    .cl-left {
        flex: 561px 0 0;
    }

    .cl-right {
        flex: 1 0 0;

        .video-play-group {
            border-left: 2px solid var(--gb_base_brown);
            border-top: 2px solid var(--gb_base_brown);
            margin-right: calc(-50vw + 50%);
            width: 50vw;

            .video-play {
                height: clamp(260px, calc(16.25rem + ((1vw - 7.68px) * 40.8935)), 498px);
                overflow: hidden;
                position: relative;

                .videos,
                iframe {
                    height: 100%;
                    object-fit: cover;
                    object-position: bottom center;
                    width: 100%;
                }
            }

            .play-icon {
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;

                .site-btn {
                    border-bottom: 0;
                    border-left: 0;
                    border-right: 0;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    width: 100%;

                    &:after {
                        top: 16px;
                    }
                }
            }
        }
    }
}

.get-in-touch-block {
    display: grid;
    gap: 160px;
    grid-template-columns: 1fr 1fr;
    position: relative;

    &:before {
        border-left: 2px solid var(--gb_base_brown);
        content: "";
        display: block;
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
    }
}

.sticky-lft-block {
    .row-flex {
        display: flex;
        gap: clamp(40px, calc(2.5rem + ((1vw - 9.92px) * 33.5196)), 160px);

        @media (max-width: 991px) {
            flex-wrap: wrap;
            gap: 0px;
        }

        .col-left {
            align-self: flex-start;
            border-bottom: 2px solid var(--gb_base_brown);
            display: flex;
            margin-bottom: -2px;
            margin-left: calc(-50vw + 50%);
            overflow: hidden;
            width: clamp(280px, calc(17.5rem + ((1vw - 9.92px) * 55.8659)), 480px);

            @media (min-width: 992px) {
                height: 100vh;
                position: sticky;
                top: 0;
                border-right: 2px solid var(--gb_base_brown);
            }

            @media (max-width: 991px) {
                width: 100vw;
                flex: 100vw 0 0;
            }

            img {
                -o-object-fit: cover;
                display: block;
                height: 100%;
                object-fit: cover;
                width: 100%;

                @media (max-width: 991px) {
                    height: clamp(147px, calc(9.1875rem + ((1vw - 3.75px) * 21.5909)), 280px);
                }
            }
        }

        .cl-right {
            flex: 1 1 0;
        }
    }
}

.two-col-content {
    display: flex;
    flex-wrap: wrap;

    .text-column {
        flex: 50% 0 0;
        padding-right: 44px;
    }
}