.internal-link-list-block {
    .row-flex {
        display: grid;
        gap: 160px;
        grid-template-columns: clamp(375px, calc(23.4375rem + ((1vw - 9.92px) * 29.3296)), 480px) 1fr;

        @media(max-width: 1200px) {
            grid-template-columns: 320px 1fr;
            gap: 80px;
        }

        @media(max-width: 991px) {
            grid-template-columns: 1fr;
            gap: 22px;
        }
    }

    &.with-parallax-image {
        .row-flex {
            display: flex;
            gap: clamp(80px, calc(5rem + ((1vw - 9.92px) * 17.8571)), 160px);
        }

        .parallax-img {
            margin-left: calc(-50vw + 50%);
            overflow: hidden;
            width: 480px;
            border-right: 2px solid var(--gb_base_brown);

            img {
                display: block;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .col-right {
            flex: 1 1 0;
        }
    }
}