.letter-block {
    padding: 0 clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px);
    border: 2px solid var(--gb_base_brown);

    .letter-row {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(24px, calc(1.5rem + ((1vw - 9.92px) * 15.6425)), 80px);

        @media(max-width: 640px) {
            gap: 0;
            justify-content: flex-end;
        }

        .cl-left {
            flex: 1 0 0;

            @media(max-width: 640px) {
                flex: 100% 0 0;
            }

            .signature-img {
                max-width: 179px;
                display: flex;

                @media(max-width: 640px) {
                    max-width: 164px;
                }
            }
        }

        .cl-right {
            flex: clamp(139px, calc(8.6875rem + ((1vw - 7.68px) * 17.354)), 240px) 0 0;
            display: flex;

            img {
                height: clamp(185px, calc(11.5625rem + ((1vw - 7.68px) * 23.3677)), 321px);
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.newsletter-block {
    .block-row {
        padding: 0 0 0 clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px);
        position: relative;
        border-left: 2px solid var(--gb_base_brown);
    }
}