.impact-map-block {
    .map-image {
        margin: 0 auto;
        max-width: 1010px;
        display: flex;
        height: clamp(203px, calc(12.6875rem + ((1vw - 7.68px) * 59.2596)), 547.891px);

        @media(max-width: 991px) {
            order: 2;
            margin-bottom: 22px;
        }

        @media(max-width: 640px) {
            margin-left: -20px;
            margin-right: -24px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .map-content-value {
        position: relative;

        .drag-arrows {
            @media(max-width: 991px) {
                display: none;
            }
        }

        .swiper-slide {
            height: auto;
        }

        .swiper-slide-container {
            position: relative;
            height: 100%;

            @media(max-width: 991px) {
                display: flex;
                flex-wrap: wrap;
            }

            .map-values {
                bottom: 0;
                left: 0;
                position: absolute;

                @media(max-width: 991px) {
                    display: flex;
                    gap: 12px;
                    margin-top: 20px;
                    order: 1;
                    position: relative;
                    width: 100%;
                }

                .map-values-col {
                    margin-bottom: 36px;

                    @media(max-width: 991px) {
                        margin-bottom: 28px;
                        flex: 1 0 0;
                    }

                    .block-title {
                        @media(max-width: 640px) {
                            @include heading-4;
                        }
                    }

                    .map-content {
                        @media(max-width: 640px) {
                            font-size: 14px;
                            letter-spacing: -0.28px;
                            line-height: 110%;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .swiper-slide-active {
            .swiper-slide-container {
                .map-values {}
            }
        }
    }

    .map-bottom-cta {
        border-top: 2px solid var(--gb_base_brown);
        display: flex;
        justify-content: flex-end;
        margin-left: calc(-50vw + 50%);
        width: 100vw;

        .map-cta-btn {
            width: 50%;

            @media(max-width: 767px) {
                margin-bottom: 0;
                width: 100%;
            }

            .site-btn {
                border-bottom: 0px;
                border-top: 0px;
                width: 100%;
                border-right: 0px;

                @media(max-width: 767px) {
                    border-left: 0px;
                }

                @media(max-width: 640px) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }

    .map-thumb-year {
        padding-left: 2px;

        @media(max-width: 767px) {
            padding-left: 0;
        }

        .swiper-slide {
            height: auto;
            width: 160px;
            cursor: pointer;

            @media(max-width: 767px) {
                width: 73px;
            }

            &.swiper-slide-active {
                .slide-year {
                    opacity: 1;

                    @extend .ui-24-21-bold;

                    &:after {
                        height: 28px;

                        @media(max-width: 767px) {
                            height: 22px;
                        }
                    }
                }
            }

            .slide-year {
                align-items: flex-end;
                cursor: pointer;
                display: flex;
                height: 100%;
                justify-content: center;
                min-height: 71px;
                opacity: 0.5;
                padding-bottom: 43px;
                pointer-events: none;
                position: relative;
                text-align: center;
                transition: all 0.7s ease-in-out;

                @extend .ui-16-15-bold;

                @media(max-width: 767px) {
                    padding-bottom: 32px;
                    min-height: 60px;
                }

                &:after {
                    background-color: var(--gb_base_brown);
                    bottom: 0;
                    content: '';
                    height: 18px;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    transition: all 0.7s ease-in-out;
                    width: 2px;
                }
            }
        }
    }

    &.stats-map-block {
        .map-content-value {
            padding-bottom: 71px;

            @media(max-width: 991px) {
                padding-bottom: 45px;
            }

            .swiper-slide-container {
                .map-values {
                    bottom: 25px;

                    @media(max-width: 991px) {
                        margin-top: 14px;
                        bottom: 0;
                        gap: 24px;
                    }

                    .map-values-col {
                        @media(max-width: 991px) {
                            margin-bottom: 0;
                        }

                        .block-title {
                            font-size: var(--gb_font_size_2);
                        }

                        .map-content {
                            @media(max-width: 640px) {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        .map-bottom-cta {
            justify-content: flex-start;

            .map-cta-btn {
                width: 100%;

                .site-btn {
                    border-left: 0px;
                }
            }
        }

        .map-image {
            @media(max-width: 991px) {
                order: 1;
                margin-top: 31px;
                margin-bottom: 0;
            }
        }
    }


    &.has-border-bottom {
        .map-bottom-cta {
            .map-cta-btn {
                //margin-bottom: -2px;
            }
        }
    }
}

.map-embed-block {
    .map-block-group {
        display: flex;
        height: clamp(520px, calc(32.5rem + ((1vw - 7.68px) * 34.3643)), 720px);
        margin-left: calc(-50vw + 50%);
        overflow: hidden;
        position: relative;
        width: 100vw;

        @media(max-width: 767px) {
            flex-wrap: wrap;
            margin-left: -24px;
            height: auto;
        }

        .map-info-box {
            background: var(--gb_primary_butter_yellow);
            border: 2px solid var(--gb_base_brown);
            border-left: 0px;
            border-top: 0px;
            left: 0;
            max-width: 480px;
            padding: 0 44px;
            position: absolute;
            top: 0;

            @media(max-width: 767px) {
                max-width: 100%;
                width: 100%;
                border-right: 0;
                padding: 0 24px;
                position: relative;
            }
        }

        >img,
        iframe {
            height: 100%;
            object-fit: cover;
            width: 100%;

            @media(max-width: 991px) {
                height: clamp(520px, calc(32.5rem + ((1vw - 7.68px) * 34.3643)), 720px);
            }
        }
    }

    &.contact-info-block {
        .row-flex {
            display: flex;
            flex-wrap: wrap;

            .cl-left {
                flex: clamp(280px, calc(17.5rem + ((1vw - 9.92px) * 55.8659)), 480px) 0 0;
                padding-right: clamp(24px, calc(1.5rem + ((1vw - 9.92px) * 15.6425)), 80px);

                @media(max-width: 767px) {
                    flex: 100% 0 0;
                    padding-right: 0;
                }
            }

            .cl-right {
                border-left: 2px solid var(--gb_base_brown);
                flex: 1 0 0;
                margin-right: calc(-50vw + 50%);
                width: 50vw;

                @media(max-width: 767px) {
                    flex: auto 0 0;
                    width: 100vw;
                    margin-right: -24px;
                    margin-left: -24px;
                    border-left: 0;
                    border-top: 2px solid var(--gb_base_brown);
                }

                .map-img {
                    display: flex;
                    height: clamp(520px, calc(32.5rem + ((1vw - 7.68px) * 34.3643)), 720px);
                    overflow: hidden;

                    >img,
                    iframe {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }

                    >img {
                        height: auto;
                    }
                }
            }
        }
    }
}