.impact-map-block {
    .map-image {
        margin: 0 auto;
        max-width: 1010px;

        @media(max-width: 991px) {
            order: 2;
        }
    }

    .map-content-value {
        position: relative;

        .drag-arrows {
            @media(max-width: 991px) {
                display: none;
            }
        }

        .swiper-slide-container {
            position: relative;

            @media(max-width: 991px) {
                display: flex;
                flex-wrap: wrap;
            }

            .map-values {
                bottom: 0;
                left: 0;
                position: absolute;

                @media(max-width: 991px) {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;
                    margin-top: 20px;
                    order: 1;
                    position: relative;
                    width: 100%;
                }

                .map-values-col {
                    margin-bottom: 36px;

                    @media(max-width: 991px) {
                        margin-bottom: 28px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .swiper-slide-active {
            .swiper-slide-container {
                .map-values {}
            }
        }
    }

    .map-bottom-cta {
        border-top: 2px solid var(--gb_base_brown);
        display: flex;
        justify-content: flex-end;
        margin-left: calc(-50vw + 50%);
        width: 100vw;

        .map-cta-btn {
            margin-bottom: -2px;
            width: 50%;

            .site-btn {
                border-bottom: 0px;
                border-top: 0px;
                width: 100%;
            }
        }
    }

    .map-thumb-year {
        padding-left: 2px;

        .swiper-slide {
            height: auto;
            width: 160px;

            &.swiper-slide-active {
                .slide-year {
                    opacity: 1;

                    @extend .ui-24-21-bold;

                    &:after {
                        height: 28px;
                    }
                }
            }

            .slide-year {
                align-items: flex-end;
                cursor: pointer;
                display: flex;
                height: 100%;
                justify-content: center;
                min-height: 71px;
                opacity: 0.5;
                padding-bottom: 43px;
                pointer-events: none;
                position: relative;
                text-align: center;
                transition: all 0.7s ease-in-out;

                @extend .ui-16-15-bold;

                &:after {
                    background-color: var(--gb_base_brown);
                    bottom: 0;
                    content: '';
                    height: 18px;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    transition: all 0.7s ease-in-out;
                    width: 2px;
                }
            }
        }
    }
}

.map-embed-block {
    .map-block-group {
        display: flex;
        height: clamp(520px, calc(32.5rem + ((1vw - 7.68px) * 34.3643)), 720px);
        margin-left: calc(-50vw + 50%);
        overflow: hidden;
        position: relative;
        width: 100vw;

        .map-info-box {
            background: var(--gb_primary_butter_yellow);
            border: 2px solid var(--gb_base_brown);
            border-left: 0px;
            border-top: 0px;
            left: 0;
            max-width: 480px;
            padding: 0 44px;
            position: absolute;
            top: 0;
        }

        >img,
        iframe {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &.contact-info-block {
        .row-flex {
            display: flex;
            flex-wrap: wrap;

            .cl-left {
                flex: 400px 0 0;
                padding-right: 80px;
            }

            .cl-right {
                border-left: 2px solid var(--gb_base_brown);
                flex: 1 0 0;
                margin-right: calc(-50vw + 50%);
                width: 50vw;

                .map-img {
                    display: flex;
                    min-height: clamp(520px, calc(32.5rem + ((1vw - 7.68px) * 34.3643)), 720px);
                    overflow: hidden;

                    >img,
                    iframe {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }

                    >img {
                        height: auto;
                    }
                }
            }
        }
    }
}