.cta-grid-mosaic-block {
    .cta-grid-box-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        position: relative;

        &:before {
            background-color: var(--gb_base_brown);
            content: '';
            height: 2px;
            left: 0;
            margin-left: calc(-50vw + 50%);
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: 1;
        }


        .cta-grid-box-col {
            border-right: 2px solid var(--gb_base_brown);
            display: flex;
            flex-wrap: wrap;
            grid-row: span 2;
            position: relative;

            &:nth-child(2) {
                border-right: 0;
                grid-column: 2;
                grid-row: 1;

                &:after {
                    left: 0;
                    margin-left: 0;
                    margin-right: calc(-50vw + 50%);
                    right: inherit;
                    margin-left: 0;
                }
            }

            &:nth-child(3) {
                border-right: 0;
                grid-column: 2;
                grid-row: 2;

                &:after {
                    left: 0;
                    margin-left: 0;
                    margin-right: calc(-50vw + 50%);
                    right: inherit;
                    margin-left: 0;
                }
            }

            &:nth-child(4) {
                grid-column: 1;
                grid-row: 3;

                &:after {
                    left: inherit;
                    margin-left: calc(-50vw + 50%);
                    margin-right: 0;
                    right: 0;
                }
            }

            &:nth-child(5) {
                grid-column: 1;
                grid-row: 4;

                &:after {
                    left: inherit;
                    margin-left: calc(-50vw + 50%);
                    margin-right: 0;
                    right: 0;
                }
            }

            &:nth-child(6) {
                border-right: 0;
                grid-row: span 2;

                &:after {
                    left: 0;
                    margin-left: 0;
                    margin-right: calc(-50vw + 50%);
                    right: inherit;
                    margin-left: 0;
                }
            }

            &:after {
                background-color: var(--gb_base_brown);
                bottom: 0;
                content: '';
                height: 2px;
                margin-left: calc(-50vw + 50%);
                position: absolute;
                right: 0;
                width: 1000%;
            }

            .cta-grid-click {
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                text-decoration: none;
                width: 100%;

                &:hover {
                    background-color: var(--gb_primary_butter_yellow);
                }
            }

            &.big-box {
                .cta-grid-click {
                    padding-top: 52px;
                }

                .cta-contents {
                    max-width: 511px;
                    position: relative;
                    z-index: 1;
                }

                .cta-image {
                    display: flex;
                    justify-content: flex-end;
                    margin-left: auto;
                    margin-top: auto;

                    img {
                        max-height: 341px;
                        max-width: 499px;
                    }
                }
            }

            &.item-two {
                margin-right: calc(-50vw + 50%);
                width: 50vw;

                .cta-grid-click {
                    gap: 58px;

                    &:hover {
                        background-color: var(--gb_primary_lilac);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    order: 2;

                    .box-title,
                    .box-content {
                        max-width: 321px;
                    }
                }

                .cta-image {
                    display: flex;
                    flex: 262px 0 0;
                    order: 1;

                    img {
                        max-height: 262px;
                        max-width: 262px;
                        object-fit: contain;
                        object-position: bottom;
                    }
                }
            }

            &.item-three {
                margin-right: calc(-50vw + 50%);
                width: 50vw;

                .cta-grid-click {

                    &:hover {
                        background-color: var(--gb_primary_lemon_yellow);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    padding-left: 80px;
                    padding-right: 30px;

                    .box-title,
                    .box-content {
                        max-width: 260px;
                    }
                }

                .cta-image {
                    flex: 301px 0 0;
                    margin-right: -40px;
                    position: relative;

                    .vector-icon {
                        position: absolute;
                        right: 76px;
                        top: 50%;
                        transform: translate(0, -50%);

                        img {
                            max-height: 144px;
                            max-width: 144px;
                        }
                    }

                    .raidus-mask {
                        border-radius: 200px;
                        display: flex;
                        margin-bottom: -44px;
                        margin-right: -60px;
                        margin-top: -44px;
                        overflow: hidden;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }

            &.item-four {

                .cta-grid-click {

                    &:hover {
                        background-color: var(--gb_primary_sky_blue);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    order: 2;
                    padding-left: 64px;
                    padding-right: 80px;

                    .box-title,
                    .box-content {
                        max-width: 319px;
                    }
                }

                .cta-image {
                    flex: 301px 0 0;
                    margin-left: -40px;
                    order: 1;
                    position: relative;

                    .vector-icon {
                        position: absolute;
                        right: 75px;
                        top: 50%;
                        transform: translate(0, -50%);

                        img {
                            max-height: 144px;
                            max-width: 144px;
                        }
                    }

                    .raidus-mask {
                        border-radius: 200px;
                        display: flex;
                        margin-bottom: -44px;
                        margin-left: -60px;
                        margin-top: -44px;
                        overflow: hidden;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }

            &.item-five {

                .cta-grid-click {

                    &:hover {
                        background-color: var(--gb_primary_lilac);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    order: 0;
                    padding-left: 0;
                    padding-right: 15px;

                    .box-title,
                    .box-content {
                        max-width: 319px;
                    }
                }

                .cta-image {
                    display: flex;
                    flex: 301px 0 0;
                    margin-left: -40px;
                    order: 0;
                    position: relative;

                    .vector-icon {
                        position: absolute;
                        right: 75px;
                        top: 50%;
                        transform: translate(0, -50%);

                        img {
                            max-height: 144px;
                            max-width: 144px;
                        }
                    }

                    .raidus-mask {
                        border-radius: 200px;
                        display: flex;
                        margin-bottom: -44px;
                        margin-left: -60px;
                        margin-top: -44px;
                        overflow: hidden;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }

            &.item-six {
                margin-right: calc(-50vw + 50%);
                width: 50vw;

                .cta-grid-click {
                    .cta-contents {
                        padding-left: 80px;
                    }

                    .cta-image {
                        margin: -60px 0 0;

                        img {
                            height: 100%;
                            max-height: 100%;
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}