.cta-grid-mosaic-block {
    .cta-grid-box-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        margin-bottom: -2px;
        margin-left: calc(-50vw + 50%);
        position: relative;
        width: 100vw;

        @media(max-width: 991px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(12, auto);
        }

        &:before {
            background-color: var(--gb_base_brown);
            content: '';
            height: 2px;
            left: 0;
            margin-left: calc(-50vw + 50%);
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: 1;
        }

        .cta-grid-box-col {
            border-right: 2px solid var(--gb_base_brown);
            display: flex;
            flex-wrap: wrap;
            grid-row: span 2;
            position: relative;

            @media(max-width: 991px) {
                border-right: 0;
                grid-column: inherit;
                grid-row: span 12;
            }

            &:nth-child(2) {
                border-right: 0;
                grid-column: 2;
                grid-row: 1;

                @media(max-width: 991px) {
                    grid-column: inherit;
                    grid-row: span 12;
                }

                &:after {
                    left: 0;
                    margin-left: 0;
                    margin-left: 0;
                    margin-right: calc(-50vw + 50%);
                    right: inherit;
                }
            }

            &:nth-child(3) {
                border-right: 0;
                grid-column: 2;
                grid-row: 2;

                @media(max-width: 991px) {
                    grid-column: inherit;
                    grid-row: span 12;
                }

                &:after {
                    left: 0;
                    margin-left: 0;
                    margin-left: 0;
                    margin-right: calc(-50vw + 50%);
                    right: inherit;
                }
            }

            &:nth-child(4) {
                grid-column: 1;
                grid-row: 3;

                @media(max-width: 991px) {
                    grid-column: inherit;
                    grid-row: span 12;
                }

                &:after {
                    left: inherit;
                    margin-left: calc(-50vw + 50%);
                    margin-right: 0;
                    right: 0;
                }
            }

            &:nth-child(5) {
                grid-column: 1;
                grid-row: 4;

                @media(max-width: 991px) {
                    grid-column: inherit;
                    grid-row: span 12;
                }

                &:after {
                    left: inherit;
                    margin-left: calc(-50vw + 50%);
                    margin-right: 0;
                    right: 0;
                }
            }

            &:nth-child(6) {
                border-right: 0;
                grid-row: span 2;

                @media(max-width: 991px) {
                    grid-column: inherit;
                    grid-row: span 12;
                }

                &:after {
                    left: 0;
                    margin-left: 0;
                    margin-left: 0;
                    margin-right: calc(-50vw + 50%);
                    right: inherit;
                }
            }

            &:after {
                background-color: var(--gb_base_brown);
                bottom: 0;
                content: '';
                height: 2px;
                margin-left: calc(-50vw + 50%);
                position: absolute;
                right: 0;
                width: 1000%;
            }

            .cta-grid-click {
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                text-decoration: none;
                width: 100%;

                &:hover {
                    background-color: var(--gb_primary_butter_yellow);
                }
            }

            &.big-box {
                .cta-grid-click {
                    padding-top: 52px;

                    @media(max-width: 991px) {
                        padding-top: 38px;
                    }
                }

                .cta-contents {
                    position: relative;
                    z-index: 1;
                }

                .cta-image {
                    display: flex;
                    justify-content: flex-end;
                    margin-left: auto;
                    margin-top: auto;

                    @media(max-width: 991px) {
                        margin-top: 16px;
                    }

                    @media(max-width: 640px) {
                        justify-content: center;
                        margin-right: auto;
                    }

                    img {
                        max-height: 341px;
                        max-width: 499px;

                        @media(max-width: 1200px) {
                            max-height: 223px;
                            max-width: 330px;
                        }

                        @media(max-width: 319px) {
                            max-height: 223px;
                            max-width: 100%;
                        }
                    }
                }
            }

            &.item-one {
                .cta-contents {
                    padding-left: calc((50vw - 1280px / 2));

                    @media(max-width: 1310px) {
                        padding-left: 30px;
                    }

                    @media(max-width: 1220px) {
                        padding-left: 24px;
                    }

                    @media(max-width: 991px) {
                        flex: 100% 0 0;
                    }

                    @media(max-width: 640px) {
                        padding-right: 24px;
                    }

                    .box-title,
                    .box-content {
                        max-width: 511px;
                    }
                }
            }

            &.item-two {
                .cta-grid-click {
                    gap: 58px;

                    @media(max-width: 1200px) {
                        gap: 10px;
                    }

                    &:hover {
                        background-color: var(--gb_primary_lilac);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    order: 2;

                    @media(max-width: 991px) {
                        padding: 32px 24px 32px 0;
                    }

                    @media(max-width: 319px) {
                        order: 1;
                        flex: 100% 0 0;
                        padding: 32px 24px 12px 24px;
                    }

                    .box-title,
                    .box-content {
                        max-width: 321px;
                    }
                }

                .cta-image {
                    align-self: flex-end;
                    display: flex;
                    flex: 262px 0 0;
                    order: 1;

                    @media(max-width: 1200px) {
                        flex: 200px 0 0;
                    }

                    @media(max-width: 640px) {
                        flex: 123px 0 0;
                    }

                    img {
                        max-height: 262px;
                        max-width: 262px;
                        object-fit: contain;
                        object-position: bottom;

                        @media(max-width: 1200px) {
                            max-height: 200px;
                            max-width: 200px;
                        }

                        @media(max-width: 640px) {
                            max-height: 147px;
                            max-width: 123px;
                        }
                    }
                }
            }

            &.item-three {
                .cta-grid-click {
                    &:hover {
                        background-color: var(--gb_primary_lemon_yellow);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    padding-left: 80px;
                    padding-right: 30px;

                    @media(max-width: 1200px) {
                        padding-left: 24px;
                        padding-right: 24px;
                    }

                    @media(max-width: 991px) {
                        padding: 32px 18px 32px 24px;
                    }

                    .box-title,
                    .box-content {
                        max-width: 260px;
                    }
                }

                .cta-image {
                    flex: 301px 0 0;
                    margin-right: -40px;
                    position: relative;

                    @media(max-width: 1200px) {
                        flex: 240px 0 0;
                    }

                    @media(max-width: 640px) {
                        flex: 123px 0 0;
                        align-self: center;
                        margin-right: -52px;
                    }

                    @media(max-width: 319px) {
                        flex: 100% 0 0;
                        margin-right: 0;
                    }

                    .vector-icon {
                        position: absolute;
                        right: 76px;
                        top: 50%;
                        transform: translate(0, -50%);

                        @media(max-width: 640px) {
                            right: 40px;
                        }

                        @media(max-width: 319px) {
                            right: 0;
                            left: 0;
                            margin: 0 auto;
                            text-align: center;
                        }

                        img {
                            max-height: 144px;
                            max-width: 144px;

                            @media(max-width: 1200px) {
                                max-height: 110px;
                                max-width: 110px;
                            }

                            @media(max-width: 991px) {
                                max-height: 79px;
                                max-width: 79px;
                            }
                        }
                    }

                    .raidus-mask {
                        border-radius: 200px;
                        display: flex;
                        height: calc(100% + 88px);
                        margin-bottom: -44px;
                        margin-right: -60px;
                        margin-top: -44px;
                        overflow: hidden;

                        @media(max-width: 640px) {
                            border-radius: 100%;
                            height: 164px;
                            margin-bottom: -15px;
                            margin-right: 0;
                            margin-top: -15px;
                            overflow: hidden;
                            width: 164px;
                        }

                        @media(max-width: 319px) {
                            width: 100%;
                            border-radius: 0;
                            margin-bottom: 0;
                            margin-right: 0;
                            margin-top: 0;
                        }

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }

            &.item-four {
                .cta-grid-click {
                    &:hover {
                        background-color: var(--gb_primary_sky_blue);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    order: 2;
                    padding-left: 64px;
                    padding-right: 80px;

                    @media(max-width: 1200px) {
                        padding-left: 24px;
                        padding-right: 24px;
                    }

                    @media(max-width: 991px) {
                        padding: 32px 24px;
                    }

                    @media(max-width: 319px) {
                        order: 1;
                    }

                    .box-title,
                    .box-content {
                        max-width: 319px;
                    }
                }

                .cta-image {
                    flex: 301px 0 0;
                    margin-left: -40px;
                    order: 1;
                    position: relative;

                    @media(max-width: 1200px) {
                        flex: 240px 0 0;
                    }

                    @media(max-width: 640px) {
                        flex: 123px 0 0;
                        align-self: center;
                        margin-left: -52px;
                    }

                    @media(max-width: 319px) {
                        flex: 100% 0 0;
                        margin-left: 0;
                    }

                    .vector-icon {
                        position: absolute;
                        right: 75px;
                        top: 50%;
                        transform: translate(0, -50%);

                        @media(max-width: 640px) {
                            right: 40px;
                        }

                        @media(max-width: 319px) {
                            right: 0;
                            left: 0;
                            margin: 0 auto;
                            text-align: center;
                        }

                        img {
                            max-height: 144px;
                            max-width: 144px;

                            @media(max-width: 1200px) {
                                max-height: 110px;
                                max-width: 110px;
                            }

                            @media(max-width: 991px) {
                                max-height: 79px;
                                max-width: 79px;
                            }
                        }
                    }

                    .raidus-mask {
                        border-radius: 200px;
                        display: flex;
                        height: calc(100% + 88px);
                        margin-bottom: -44px;
                        margin-left: -60px;
                        margin-top: -44px;
                        overflow: hidden;

                        @media(max-width: 640px) {
                            border-radius: 100%;
                            height: 164px;
                            margin-bottom: -15px;
                            margin-left: 0;
                            margin-top: -15px;
                            overflow: hidden;
                            width: 164px;
                        }

                        @media(max-width: 319px) {
                            width: 100%;
                            border-radius: 0;
                            margin-bottom: 0;
                            margin-right: 0;
                            margin-top: 0;
                        }

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }

            &.item-five {
                .cta-grid-click {
                    &:hover {
                        background-color: var(--gb_primary_lilac);
                    }
                }

                .cta-contents {
                    align-self: center;
                    flex: 1 0 0;
                    order: 0;
                    padding-left: calc((50vw - 1280px / 2));
                    padding-right: 15px;

                    @media(max-width: 1310px) {
                        padding-left: 30px;
                    }

                    @media(max-width: 1220px) {
                        padding-left: 24px;
                    }

                    @media(max-width: 991px) {
                        padding: 32px 24px;
                    }

                    @media(max-width: 640px) {
                        padding: 32px 12px 32px 24px;
                    }

                    @media(max-width: 319px) {
                        padding: 12px 24px 32px 24px;
                        flex: 100% 0 0;
                        order: 2;
                    }

                    .box-title,
                    .box-content {
                        max-width: 321px;
                    }
                }

                .cta-image {
                    display: flex;
                    flex: 301px 0 0;
                    justify-content: flex-end;
                    margin-left: -40px;
                    order: 0;
                    position: relative;

                    @media(max-width: 1200px) {
                        flex: 240px 0 0;
                    }

                    @media(max-width: 640px) {
                        flex: 138px 0 0;
                    }

                    @media(max-width: 319px) {
                        margin-left: auto;
                    }

                    img {
                        margin-bottom: -60px;
                        margin-top: -85px;
                        max-height: 364px;
                        max-width: 364px;
                        object-fit: contain;
                        object-position: top;

                        @media(max-width: 1200px) {
                            margin-bottom: -40px;
                            margin-top: -65px;
                            max-height: 250px;
                            max-width: 250px;
                        }

                        @media(max-width: 640px) {
                            max-height: 138px;
                            max-width: 138px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-right: -18px;
                        }
                    }
                }
            }

            &.item-six {
                .cta-grid-click {
                    .cta-contents {
                        padding-left: 80px;

                        @media(max-width: 1200px) {
                            padding-left: 24px;
                        }

                        @media(max-width: 640px) {
                            padding-right: 24px;
                        }
                    }

                    .cta-image {
                        margin: -60px 0 0;
                        width: 100%;

                        @media(max-width: 640px) {
                            margin: 12px 0 0;
                            flex: 100% 0 0;
                        }

                        img {
                            height: 100%;
                            max-height: 100%;
                            max-width: 100%;
                            width: 100%;

                            @media(max-width: 640px) {
                                max-height: 192px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.midpage-cta {
    &.variation-text-only {
        padding: 0 0 0 80px;
        position: relative;

        &:before {
            background-color: var(--gb_base_brown);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 2px;
        }

        @media (max-width: 991px) {
            padding: 0 0 0 48px;
        }

        @media (max-width: 767px) {
            padding: 0 0 0 24px;
        }
    }
}

.midpage-cta-material {
    .row-flex {
        display: flex;
        flex-wrap: wrap;

        .cl-left {
            border-right: 2px solid var(--gb_base_brown);
            flex: 1 0 0;
            padding-right: clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px);

            .pattern-max-cards {
                align-self: center;
                display: flex;
                height: 100%;

                @media(max-width: 991px) {
                    max-width: 350px;
                    margin: 0 auto;
                }

                @media(max-width: 640px) {
                    max-width: 292px;
                    margin: 0 auto;
                }
            }

            @media(max-width: 991px) {
                flex: auto 0 0;
                order: 2;
                min-height: 330px;
                border: none;
                width: 100vw;
                margin-left: -24px;
                padding: 0 24px;
                border-top: 2px solid var(--gb_base_brown);
            }
        }

        .cl-right {
            flex: 1 0 0;
            padding-left: clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px);

            @media(max-width: 991px) {
                flex: 100% 0 0;
                padding-left: 0;
            }

            &.bg-base-cream {
                position: relative;

                &:after {
                    background-color: var(--gb_base_cream);
                    content: '';
                    height: 100%;
                    left: 100%;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

                &:before {
                    background-color: var(--gb_base_cream);
                    content: '';
                    height: 100%;
                    right: 100%;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    opacity: 0;

                    @media(max-width: 991px) {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.pattern-lft-design {
    align-self: center;
    position: relative;
    width: 100%;

    .row-flex {
        border: 2px solid var(--gb_base_brown);
        margin-right: 21px;
        min-height: clamp(157px, calc(9.8125rem + ((1vw - 7.68px) * 24.5704)), 300px);
        overflow: hidden;
        position: relative;
        z-index: 1;

        @media(max-width: 991px) {
            margin-right: 11px;
            margin-bottom: 11px;
        }

        .col-left {
            border-right: 2px solid var(--gb_base_brown);
            flex: clamp(70px, calc(4.375rem + ((1vw - 7.68px) * 10.9966)), 134px) 0 0;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .col-right {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            padding-bottom: clamp(14px, calc(0.875rem + ((1vw - 7.68px) * 2.0619)), 26px);
            padding-left: clamp(14px, calc(0.875rem + ((1vw - 7.68px) * 2.4055)), 28px);
            padding-right: clamp(14px, calc(0.875rem + ((1vw - 7.68px) * 2.0619)), 26px);
            padding-top: clamp(25px, calc(1.5625rem + ((1vw - 7.68px) * 3.9519)), 48px);

            .custom-title {
                @include font(valueserif, bold);
                color: var(--gb_base_brown);
                font-size: clamp(19.027px, calc(1.1891875rem + ((1vw - 7.68px) * 3.0007)), 36.491px);
                font-style: normal;
                letter-spacing: clamp(-0.803px, calc(-0.0261875rem + ((1vw - 7.68px) * -0.066)), -0.419px);
                line-height: 100%;
                max-width: 289px;

                @media(max-width: 640px) {
                    max-width: 150px;
                }
            }

            .custome-sub-title {
                @include font(universalsans, sbold);
                color: var(--gb_base_brown);
                font-size: clamp(8.834px, calc(0.552125rem + ((1vw - 7.68px) * 1.3931)), 16.942px);
                font-style: normal;
                letter-spacing: clamp(-0.339px, calc(-0.0110625rem + ((1vw - 7.68px) * -0.0278)), -0.177px);
                line-height: 110%;
            }

            .custom-logo {
                display: flex;
                margin-left: auto;
                margin-top: auto;

                img {
                    height: clamp(37px, calc(2.3125rem + ((1vw - 7.68px) * 5.8419)), 71px);
                    width: clamp(37px, calc(2.3125rem + ((1vw - 7.68px) * 5.8419)), 71px);
                }
            }
        }

        &.behind-reverse-pattern {
            flex-direction: row-reverse;
            height: 100%;
            left: 21px;
            margin-right: 0;
            margin-top: 21px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;

            @media(max-width: 991px) {
                margin-top: 0;
                left: 11px;
                margin-bottom: 0;
            }

            .col-left {
                border-left: 2px solid var(--gb_base_brown);
                border-right: 0;
            }
        }
    }
}

section:has(.two-column-image) {
    position: relative;
}

.two-column-image {
    .two-col-content {
        position: relative;
        z-index: 1;
    }

    .cta-image-full {
        display: flex;
        margin-left: calc(-50vw + 50%);
        margin-top: -42vw;
        overflow: hidden;
        width: 100vw;

        @media(max-width: 640px) {
            margin-top: -38vw;
        }

        img {
            height: 100%;
            object-fit: cover;
            object-position: top;
            width: 100%;
        }
    }
}