.block-chart {
    .block-head {
        .block-title {
            max-width: 922px;
        }

        .block-content {
            max-width: 640px;
        }
    }

    .chart-data {
        display: flex;

        @media (max-width: 1440px) {
            margin-left: calc(-50vw + 50%);
            width: 100vw;
        }
    }
}

.testimonial-single-view-slider {
    border-left: 2px solid var(--gb_base_brown);
    padding-left: clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 9.622)), 80px);

    @media(max-width: 768px) {
        padding-bottom: 94px;
    }

    .slider-btn {
        margin-top: -30px;

        @media(max-width: 991px) {
            margin-top: -147px;
        }
    }

    .slide-head {
        .card-title {
            max-width: 880px;
        }
    }

    .slide-inner {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(44px, calc(2.75rem + ((1vw - 7.68px) * 6.1856)), 80px);

        @media(max-width: 991px) {
            gap: 0;
        }

        .col-left {
            flex: clamp(500px, calc(31.25rem + ((1vw - 9.92px) * 60.8939)), 718px) 0 0;

            @media(max-width: 991px) {
                flex: 100% 0 0;
            }
        }

        .col-right {
            display: flex;
            flex: 1 0 0;

            @media(max-width: 991px) {
                justify-content: flex-end;
            }

            .testimonial-author-image {
                display: flex;
                height: clamp(147px, calc(9.1875rem + ((1vw - 7.68px) * 29.8969)), 321px);
                position: relative;
                width: clamp(110px, calc(6.875rem + ((1vw - 7.68px) * 22.3368)), 240px);

                .optional-title {
                    bottom: 15px;
                    color: var(--gb_base_cream);
                    left: 15px;
                    opacity: 0.56;
                    position: absolute;
                    text-transform: uppercase;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

.testimonial-traditional-slider {

    .swiper-horizontal {
        padding-right: 180px;
    }

    .slider-btn {
        padding-left: 80px;
        border-left: 2px solid var(--gb_base_brown);
        padding-top: 64px;

        @media(max-width: 640px) {
            padding-top: 44px;
        }
    }

    .testimonial-slide-group {
        border-left: 2px solid var(--gb_base_brown);
        padding-left: 80px;
    }

    .slide-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;

        .col-left {
            flex: 560px 0 0;
        }

        .col-right {
            display: flex;
            flex: 1 0 0;

            .testimonial-author-image {
                display: flex;
                height: 321px;
                position: relative;
                width: 240px;

                .optional-title {
                    bottom: 15px;
                    color: var(--gb_base_cream);
                    left: 15px;
                    opacity: 0.56;
                    position: absolute;
                    text-transform: uppercase;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}