.stats-with-text {
    .row-flex {
        display: flex;
        flex-wrap: wrap;

        .col-left {
            flex: 400px 0 0;
            padding-right: 80px;
        }

        .col-right {
            flex: 1 0 0;
            padding-left: 160px;
            padding-right: 80px;
            border-left: 2px solid var(--gb_base_brown);
        }
    }
}