.stats-with-text {
    .row-flex {
        display: flex;
        flex-wrap: wrap;

        .col-left {
            flex: 400px 0 0;
            padding-right: 80px;
        }

        .col-right {
            flex: 1 0 0;
            padding-left: 160px;
            padding-right: 80px;
            border-left: 2px solid var(--gb_base_brown);
        }
    }
}

.state-grid-block {
    .state-grid-row {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;

        .state-grid-col {
            flex: 50% 0 0;
            padding-right: 44px;
        }
    }
}