/* -------------------------------------------------
>> Project Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
	left: -9999px;
	position: absolute;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+span,
[type="checkbox"]:not(:checked)+span {
	box-sizing: border-box;
	color: var(--gb_radio_color);
	cursor: pointer;
	display: inline-block;
	@extend .ui-18-16-regular;
	margin: 0 0;
	padding-left: 25px;
	position: relative;
}

[type="checkbox"]:checked+label::before,
[type="checkbox"]:not(:checked)+label::before,
[type="checkbox"]:checked+span::before,
[type="checkbox"]:not(:checked)+span::before {
	background-color: #FBF8F0;
	border: 1px solid #4D3016;
	border-radius: 0;
	box-shadow: none;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 17px;
	height: 17px;
}

[type="checkbox"]:checked+label::after,
[type="checkbox"]:not(:checked)+label::after,
[type="checkbox"]:checked+span::after,
[type="checkbox"]:not(:checked)+span::after {
	background-color: var(--gb_radio_after_bgcolor);
	border-radius: 2px;
	content: "";
	height: 10px;
	left: 5px;
	position: absolute;
	top: 5px;
	transition: all 0.2s ease;
	width: 10px;
}

[type="checkbox"]:not(:checked)+label::after,
[type="checkbox"]:not(:checked)+span::after {
	opacity: 0;
	transform: scale(0);
}

[type="checkbox"]:checked+label::after,
[type="checkbox"]:checked+span::after {
	opacity: 1;
	transform: scale(1);
}