body {

    .site-btn,
    .wp-block-button .wp-block-button__link {
        background: var(--gb_base_cream);
        border: 2px solid var(--gb_base_brown);
        border-radius: 0px;
        color: var(--gb_base_brown);
        display: inline-flex;
        font-size: var(--gb_font_size_14);
        @include font(universalsans, sbold);
        letter-spacing: -0.36px;
        line-height: 110%;
        outline: none;
        padding: 22px 82px 22px 34px;
        position: relative;
        text-decoration: none;
        transition: 0.35s;

        @media(max-width: 991px) {
            padding: 18px 63px 18px 24px;
        }

        @media(max-width: 640px) {
            letter-spacing: -0.32px;
            padding: 18px 24px;
        }

        &:after {
            align-items: center;
            animation: shrink-back 0.4s forwards;
            background-color: var(--gb_base_brown);
            background-image: url(../images/button-arrow.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 0px;
            border-radius: 100px;
            content: '';
            display: flex;
            height: 22px;
            justify-content: center;
            position: absolute;
            right: 26px;
            top: 21px;
            transform: scale(0.27);
            transition: transform 0.4s ease-in-out;
            width: 22px;

            @media(max-width: 991px) {
                right: 16px;
                top: 16px;
            }
        }

        &:hover {
            background-color: var(--gb_primary_lilac);
            border-color: var(--gb_base_brown);
            color: var(--gb_base_brown);

            &:after {
                animation: bubble-pop 0.4s forwards;
                background-size: auto;
            }
        }

        &.arrow-pointing-top {
            &:after {
                background-image: url(../images/button-arrow-top.svg);
            }
        }

        &.arrow-heart-symbol {
            &:after {
                background-image: url(../images/button-heart.svg);
            }
        }

        &.arrow-plus {
            &:after {
                background-image: url(../images/button-plus.svg);
            }

            &:hover {
                &:after {
                    background-size: 9px;
                }
            }
        }

        &.arrow-minus {
            &:after {
                background-image: url(../images/button-minus.svg);
                background-position: center 10px;
            }
        }

        &.btn-sunflower-yellow {
            background-color: var(--gb_primary_sunflower_yellow);

            &:hover {
                background-color: var(--gb_primary_lilac);
            }
        }

        &.btn-lilac {
            background-color: var(--gb_primary_lilac);

            &:hover {
                background-color: var(--gb_primary_lilac);
            }
        }

        &.btn-sky-blue {
            background-color: var(--gb_primary_sky_blue);

            &:hover {
                background-color: var(--gb_primary_lilac);
            }
        }

        &.btn-lime-green {
            background-color: var(--gb_primary_lime_green);

            &:hover {
                background-color: var(--gb_primary_lilac);
            }
        }

        &.btn-butter-yellow {
            background-color: var(--gb_primary_butter_yellow);

            &:hover {
                background-color: var(--gb_primary_lilac);
            }
        }

        &.btn-lemon-yellow {
            background-color: var(--gb_primary_lemon_yellow);

            &:hover {
                background-color: var(--gb_primary_lilac);
            }
        }

        &.sm-btn {
            padding: 22px 64px 22px 22px;

            &:after {
                right: 16px;
            }

            @media(max-width: 991px) {
                padding: 18px 63px 18px 24px;
            }

            @media(max-width: 640px) {
                letter-spacing: -0.32px;
                padding: 18px 24px;
            }
        }

        &.xsm-btn {
            padding: 14px 54px 14px 22px;

            @media(max-width: 640px) {
                padding: 10px 48px 10px 18px;
            }

            &:after {
                right: 16px;
                top: 13px;

                @media(max-width: 640px) {
                    right: 12px;
                    top: 7px;
                }
            }
        }

        &.btn-brown {
            background-color: var(--gb_base_brown);
            color: var(--gb_base_cream);
            padding: 14px 64px 14px 22px;

            &:after {
                background-color: var(--gb_primary_lilac);
                background-image: url(../images/button-brown-arrow.svg);
                background-size: 0px;
                right: 16px;
                top: 13px;
            }

            &:hover {
                background-color: var(--gb_base_brown);
                color: var(--gb_base_cream);

                &:after {
                    background-size: 9px;
                }
            }
        }

        &.arrow-pointing-left {
            padding: 22px 36px 22px 66px;

            &::after {
                right: unset;
                left: 26px;
                background-image: url(../images/button-left-arrow.svg);
            }

        }

        &.text-link {
            background-color: transparent;
            border: none;
            color: var(--gb_base_brown);
            font-size: var(--gb_font_size_13);
            letter-spacing: var(--letter_spacing_04);
            line-height: var(--line_height_110per);
            padding: 16px 0 16px;

            @media(max-width: 640px) {
                letter-spacing: -0.36px;
                padding: 14px 0 14px;
            }

            &:after {
                align-items: center;
                animation: shrink-back 0.4s forwards;
                background-color: var(--gb_base_brown);
                background-image: url(../images/button-arrow-white.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 0px;
                border-radius: 100px;
                content: '';
                display: flex;
                height: 22px;
                justify-content: center;
                margin-left: 8px;
                position: inherit;
                right: 0;
                top: 0px;
                transform: scale(0.27);
                transition: transform 0.4s ease-in-out;
                width: 22px;
            }

            &:before {
                animation: bubble-shrink-back 0.4s forwards;
                background-color: var(--gb_base_brown);
                bottom: 0;
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                transition: width 0.2s ease-in-out;
                width: 28px;
            }

            &:hover {
                background-color: transparent;
                border-color: transparent;
                color: var(--gb_base_brown);

                &:after {
                    animation: bubble-pop 0.4s forwards;
                    background-size: auto;
                }

                &:before {
                    animation: bubble-width 0.4s forwards;
                    width: 100%;
                }
            }
        }

        &.arrow-btn {
            background-color: var(--gb_primary_butter_yellow);
            border-width: 0px 0px 2px 0px;
            padding: 23px 30px 23px 30px;
            width: 100%;

            &:after {
                animation: inherit;
                background-color: transparent;
                background-image: url(../images/bottom-arrow.svg);
                background-size: 10px;
                border-radius: 0;
                height: 20px;
                padding: 0;
                top: 22px;
                transform: inherit;
                width: 20px;
            }
        }
    }

    .border-text-btn {
        background-image: linear-gradient(transparent calc(100% - 1px), var(--gb_base_brown) 1px);
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-flex;
        padding-bottom: 2px;
        position: relative;
        text-decoration: none;
        transition: all .2s;

        @extend .body-18-16-regular;

        &:hover {
            background-size: 0 100%;
        }
    }

    .link-with-icon {
        text-decoration: none;
        display: inline-block;
        @extend .body-18-16-regular;

        .link-content {
            word-break: break-all;
            border-bottom: 1px solid var(--gb_base_brown);
            padding-bottom: 0;

            .link-text {
                display: inline;
                word-wrap: break-word;

            }

            .icon {
                display: inline;
                margin-left: 6px;
            }
        }

    }

    .jump-arrow {
        align-items: center;
        background: var(--gb_base_cream);
        border: 2px solid var(--gb_base_brown);
        cursor: pointer;
        display: flex;
        height: auto;
        justify-content: space-between;
        margin: 0;
        max-width: 100%;
        padding: 13px 22px 13px 22px;
        stroke-width: 1px;
        transition: background-color 0.3s, color 0.3s;
        will-change: background-color, color;


        @extend .ui-18-16-bold;

        @media(max-width: 640px) {
            min-width: 100%;
        }

        &.btn-sunflower-yellow {
            background-color: var(--gb_primary_sunflower_yellow);

            &:hover {
                background-color: var(--gb_primary_lilac);
            }

            .arrow-icon {
                &:after {
                    background-image: url(../images/button-brown-arrow.svg);
                    background-size: 10px;
                    animation: inherit !important;
                }
            }

            &:hover {
                background-color: var(--gb_primary_lilac);

                .arrow-icon {
                    background-color: var(--gb_base_brown);

                    &:after {
                        animation: inherit !important;
                        background-image: url(../images/button-arrow-white.svg);
                    }
                }
            }
        }

        .arrow-icon {
            border-radius: 100%;
            height: 22px;
            position: relative;
            width: 22px;

            &::after {
                animation: bubbleJump-shrink 0.4s ease-in-out 2;
                background-image: url(../images/bottom-arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 8px;
                content: "";
                display: inline-block;
                height: 22px;
                transition: transform 0.3s ease;
                width: 22px;
            }
        }

        &:hover {
            background-color: var(--gb_primary_lilac);

            .arrow-icon {
                background-color: var(--gb_base_brown);

                &:after {
                    animation: bubbleJump 0.4s ease-in-out 2;
                    background-image: url(../images/bottom-arrow-white.svg);
                }
            }
        }
    }

    .radius-btn {
        @extend .ui-16-15-bold-uc;
        background-color: var(--gb_primary_sunflower_yellow);
        border-radius: 200px;
        padding: 12px 22px 11px;
        text-align: center;
        text-decoration: none;
    }
}

// keyframes For buttons
@keyframes bubble-pop {
    0% {
        transform: scale(0.27);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shrink-back {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.27);
    }
}

@keyframes bubble-width {
    0% {
        width: 28px;
    }

    60% {
        width: 104%;
    }

    100% {
        width: 100%;
    }
}

@keyframes bubble-shrink-back {
    0% {
        width: 100%;
    }

    100% {
        width: 28px;
    }
}

.is-style-outline-boxed {
    .wp-block-button__link {
        background-color: var(--gb_transparent);
        box-shadow: inset 0 0px 0px 1px var(--gb_button_border_color);
        color: var(--gb_button_border_color);

        &:hover {
            background: var(--gb_button_bgcolor_hover);
            box-shadow: inset 0 0px 0px 1px var(--gb_button_bgcolor_hover);
            color: var(--gb_button_color_hover);
        }
    }
}

/* Styles for the disabled button */
button[disabled] {
    background-color: #dddddd;
    border: none;
    color: #999999;
    cursor: not-allowed;
    opacity: 0.6;
}

button[disabled]:hover {
    background-color: #dddddd;
}

.two-btn-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    &.btn-no-gap {
        gap: 0;
    }
}

.btn-in-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0;

    .site-btn {
        flex: 1 0 0;
        margin-right: -1px;
        margin-left: -1px;

        @media(max-width: 640px) {
            flex: 100% 0 0;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: -2px;
        }

        &:last-child {
            @media(max-width: 640px) {
                margin-bottom: 0;
            }
        }
    }
}