/****
 *
 * containers
 *
****/

.wrapper {
	max-width: 1300px;
	width: 90%;
	margin: 0 auto;
}


.wrapper {
	margin: 0 auto;
	max-width: 1340px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;

	@media(max-width: 1220px) {
		padding-left: 24px;
		padding-right: 24px;
	}
}

.container-1280 {
	.wrapper {
		margin: 0 auto;
		max-width: 1340px;
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;

		@media(max-width: 1220px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}

.container-1120 {
	.wrapper {
		margin: 0 auto;
		max-width: 1180px;
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;

		@media(max-width: 1220px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}

.container-960 {
	.wrapper {
		margin: 0 auto;
		max-width: 1020px;
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;

		@media(max-width: 1220px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}

.container-800 {
	.wrapper {
		margin: 0 auto;
		max-width: 860px;
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;

		@media(max-width: 1220px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}

.container-720 {
	.wrapper {
		margin: 0 auto;
		max-width: 780px;
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;

		@media(max-width: 1220px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}


.full-width-ctn {
	.wrapper {
		max-width: 100%;
		width: 100%;
	}
}

.navy-ctn {
	background-color: var(--wp--preset--color--navy);
}