/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-smoothing: antialiased;
	outline: none;
	text-rendering: optimizeLegibility;
}

html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	@include font(universalsans, reg);
	position: relative;
	@extend .body-22-20-regular;
	color: var(--gb_body_color);
	background-color: var(--gb_body_bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

// body,
// html {
// 	overflow-x: hidden;
// }

html,
body {
	-webkit-font-smoothing: antialiased;
	/* Chrome */
	-moz-osx-font-smoothing: grayscale;
	/* Firefox on macOS */
	text-rendering: optimizeLegibility;
	/* Improves kerning, ligatures */
}

p {
	margin: 0 0 24px;

	&:last-child {
		margin: 0 0 0;
	}
}

::selection {
	color: var(--gb_highlight_color);
	background-color: var(--gb_highlight_bg);
}