.not-found {
    text-align: center;
}

.error-404 {
    text-align: center;
    width: 100%;

    .menu {
        margin: 0;
    }

    ul li {
        display: inline-block;
        margin: 0 0 0 20px;
        font-weight: 700;
        padding: 0;

        &::before {
            display: none;
        }

        a {
            padding: 10px;
            border-bottom: 0;

            &:hover {
                color: var(--gb_error_menu_color);
            }
        }

        ul {
            display: none;
        }
    }
}

.form-404 {
    margin: 0 auto 0;
    max-width: 720px;

    p {
        margin-bottom: 20px;
    }
}

.not-found {
    .page-content {
        max-width: 550px;
        margin: 0 auto;
    }
}

.not-found-search {
    form {
        position: relative;
        display: block;
        background: var(--gb_primary_butter_yellow);

        input[type="text"],
        input[type="search"] {
            height: 68px;
            padding-right: 170px;
            padding-left: 30px;
            width: 100%;
            border: 2px solid var(--gb_base_brown);
            @extend .ui-18-16-bold;

            @media(max-width: 767px) {
                height: 58px;
            }

            @media(max-width: 640px) {
                padding-left: 24px;
            }
        }

        .search-submit {
            @extend .site-btn;
        }

        .site-btn,
        .search-submit {
            position: absolute;
            right: 0;
            margin: 0;
            top: 50%;
            transform: translate(0, -50%);
            height: 100%;
            align-items: center;

            @media(max-width: 640px) {
                min-width: 163px;
            }

            @media(max-width: 319px) {
                margin: 0;
                position: relative;
                right: 0;
                top: 0;
                transform: inherit;
                margin-top: 0;
                width: 100%;
                border-top: 0;
                border-left: 0;
            }
        }

        label {
            margin: 0;
            display: block;
            width: 100%;
        }
    }
}