/****
 *
 * helper classes
 *
****/
.large-text {
	font-size: var(--gb_font_size_6);
	line-height: 1.3;
}

.small-text {
	@include font-size(14);
	line-height: 1;
}

.black-text {
	color: var(--wp--preset--color--black);
}

.white_text {
	color: var(--wp--preset--color--white);
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.text-uppercase {
	text-transform: uppercase;
}

// Text-decuration none
.text-decuration-none {
	text-decoration: none;
}

// flex
.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

// flex items
.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-self-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

// background
.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-position-center {
	background-position: center;
}

.bg-norepeat {
	background-repeat: no-repeat;
}

.bg-repeat {
	background-repeat: repeat;
}

.reset-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.single-post #breadcrumbs span span span span span span {
	color: var(--gb_breadcrumb_span_color);
}

.single-post #breadcrumbs span span span span span span a {
	color: var(--gb_breadcrumb_link_color);
}

.no-visible {
	visibility: hidden;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.select-dropdown {
	ul.select-dropdown__list {
		display: none;

		&.is-active-dropdown {
			display: block;
		}

		li.select-dropdown__item {
			outline: 2px dotted transparent;

			&:focus,
			&:focus-visible {
				outline-color: black !important;
			}
		}
	}

	.select-dropdown__button {

		&:focus,
		&:focus-visible {
			outline-color: black !important;
		}
	}
}

img {
	&.main-image {
		opacity: 0;
		transition: all 500ms ease-in-out;
	}
}

picture {
	img.loaded {
		opacity: 1;
	}
}

.mx-none {
	@media(max-width: 767px) {
		display: none !important;
	}
}

.sm-none {
	@media(max-width: 640px) {
		display: none;
	}
}

.md-none {
	@media (max-width: 991px) {
		display: none;
	}
}

.desktop-none {
	display: none;

	@media(max-width: 767px) {
		display: block;
	}
}

section:has(.all-resources-block, .bg-pattern-fixed, .impact-map-block, .cta-grid-mosaic-block, .video-alongside-text, .theme-video, .tabbed-content-block, .map-embed-block, .timeline-block, .logo-grid-links-block, .cta-grid-slider-block, .midpage-cta-map, .midpage-cta-material, .footer-cta, .midpage-cta-image-right, .resoruce-filter-title, .logo-grid-filters, .cta-slider-block, .testimonial-traditional-block, .tab-content-block, .two-column-image, .cta-columns-two-block, .cta-rows-list-block, .event-teaser-list-block, .cta-grid-traditional-block, .state-grid-block, .scrolling-text-block, .single-section-btn, .news-list-filter-title, .read-more-block) {
	overflow: hidden;
}

section:has(.has-border-top) {
	border-top: 2px solid var(--gb_base_brown);
}

section:has(.has-border-bottom) {
	border-bottom: 2px solid var(--gb_base_brown);
}

.full-width-button {
	margin-left: calc(-50vw + 50%);
	width: 100vw;
	position: relative;
	z-index: 1;

	.site-btn {
		margin-bottom: -2px;
		border-right: 0;
		border-left: 0;
		width: 100%;
	}
}

// dropdown
.tab-dropdown {
	display: flex;
	position: relative;

	@media(max-width: 640px) {
		width: 100%;
	}

	.dropdown-toggle:not(.site-btn) {
		-webkit-transition: background-color 0.3s, color 0.3s;
		align-items: center;
		background: var(--gb_base_cream);
		border: 2px solid var(--gb_base_brown);
		cursor: pointer;
		display: flex;
		height: auto;
		justify-content: space-between;
		margin: 0;
		max-width: 100%;
		min-width: 320px;
		padding: 13px 22px 13px 22px;
		stroke-width: 1px;
		transition: background-color 0.3s, color 0.3s;
		will-change: background-color, color;

		@extend .ui-18-16-bold;

		@media(max-width: 640px) {
			min-width: 100%;
			padding: 8px 18px 8px 18px;
		}

		.arrow-icon {
			border-radius: 100%;
			height: 22px;
			position: relative;
			width: 22px;

			&::after {
				background-image: url(../images/bottom-arrow.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 8px;
				content: "";
				display: inline-block;
				height: 22px;
				transition: transform 0.3s ease;
				width: 22px;
				animation: bubbleJump-shrink 0.4s ease-in-out 2;
			}
		}

		&:disabled {
			background-color: var(--btn-disabled-bg);
			color: var(--btn-disabled-color);
			cursor: not-allowed;
			opacity: 0.7;
		}

		&:hover {
			background-color: var(--gb_primary_lilac);

			.arrow-icon {
				background-color: var(--gb_base_brown);

				&:after {
					animation: bubbleJump 0.4s ease-in-out 2;
					background-image: url(../images/bottom-arrow-white.svg);
				}
			}
		}
	}

	&.open {
		.dropdown-toggle {
			.arrow-icon {
				background-color: var(--gb_base_brown);

				&:after {
					background-image: url(../images/bottom-arrow-white.svg);
					transform: rotate(180deg);
					animation: inherit !important;
				}
			}
		}
	}
}

@keyframes bubbleJump {
	0% {
		transform: translateY(0);
	}

	60% {
		transform: translateY(1.5px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes bubbleJump-shrink {
	0% {
		transform: translateY(0);
	}

	60% {
		transform: translateY(1.5px);
	}

	100% {
		transform: translateY(0);
	}
}

.dropdown-menu {
	background: var(--gb_base_cream);
	border: 2px solid var(--gb_base_brown);
	border-top: 0;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0 0;
	position: fixed;
	top: 100%;
	transform: translateY(-10px);
	visibility: hidden;
	width: 100%;
	z-index: 7;

	transition: opacity 0.3s ease,
		transform 0.3s ease,
		visibility 0.3s;

	li {
		border-bottom: 2px solid var(--gb_base_brown);
		list-style-type: none;
		margin: 0;
		padding: 0;

		&:last-child {
			border-bottom: 0;
		}

		&:before {
			display: none;
		}

		a {
			display: block;
			padding: 12px 24px;
			text-align: left;
			text-decoration: none;
			transition: background-color .15s;

			@extend .ui-18-16-regular;

			@media(max-width: 640px) {
				padding: 8px 18px 8px 18px;
			}

			&:hover {
				background-color: var(--gb_primary_lilac);
			}
		}
	}

	&.open {
		-webkit-transform: translateY(0);
		opacity: 1;
		transform: translateY(0);
		visibility: visible;

		li {
			animation: fadeIn 0.3s ease forwards;
			opacity: 0;
			transform: translateY(10px);
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeIn {
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

// bg color
.bg-base-cream {
	background-color: var(--gb_base_cream);
}

.bg-butter-yellow {
	background: var(--gb_primary_butter_yellow);
}

.bg-lilac {
	background: var(--gb_primary_lilac);
}

.bg-sky-blue {
	background: var(--gb_primary_sky_blue);
}

.bg-sunflower-yellow {
	background: var(--gb_primary_sunflower_yellow);
}

.bg-lime-green {
	background-color: var(--gb_primary_lime_green);
}

.bg-lemon-yellow {
	background-color: var(--gb_primary_lemon_yellow);
}

.bg-primary-pink {
	background-color: var(--gb_primary_pink);
}